---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: "Europe/Sofia"
  CLUSTER_NAME: "kind"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevip
  namespace: kube-system
data:
  range-global: 10.13.0.10-10.13.0.100
  cidr-extra: 10.13.0.0/30
