# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env

ch_data
ch_logs
n8n_data
redis_data

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*-deploy-key
secretsy-*flux-gitlab
secretsy-*flux-gitlab.pub
kubeconfig-flux-gitlab
secretsy-infra-gitlab-deploy-key
secretsy-infra-gitlab-deploy-key.pub

._*
