---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: traefik
      version: 38.0.2
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    disableWait: false
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    disableWait: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: traefik-values
      valuesKey: values.yaml
