apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - name: server-config
    files:
      - config/server.yml
transformers:
  - labels.yaml
resources:
  - service.yaml
  - deployment.yaml
  - httproute.yaml
