---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
transformers:
  - labels.yaml
resources:
  - github.com/metallb/metallb/config/native?ref=v0.15.3
  - ./local-path
  - ./metallb/ks.yaml
